
.eventStream {
  width: 100%;
  border: 1px solid black;
  overflow: scroll;
}

.eventStream .title {
  padding: 20px;
}

.eventStream .itemsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventStream .item {
  display: flex;
  font-size: 10px;
  border: 1px solid #E7E7E7;
  height: 50px;
  width: 100%;
  padding: 5px;
}

.eventStream .itemTitle {
  font-family: Helvetica;
  font-size: 14px;
  color: #4D4D4D;
  order: 1;
}

.eventStream .itemTool {
  font-family: Helvetica;
  font-size: 12px;
  color: #939393;
  order: 1;
  align-self: flex-end;
}

.eventStream .itemDate {
  font-family: Helvetica;
  order: 3;
  font-size: 11px;
  color: #939393;

}

.eventStream .itemBox1 {

}